{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier", "import"],
    "extends": [
        "prettier",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript"
    ],
    "rules": {
        "prettier/prettier": ["error"],
        "no-console": 1,
        "no-constant-condition": ["error", { "checkLoops": false }],
        "import/order": [
          "error", {
            "newlines-between": "always",
            "alphabetize": {
              "order": "asc"
            }
          }
        ]
    },
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".ts", ".tsx"],
          "moduleDirectory": ["node_modules", "src/"]
        },
        "typescript": {
          "alwaysTryTypes": true
        }
      },
      "react": {
        "version": "detect"
      }
    },
    "ignorePatterns": ["**/*.d.ts"]
}
