{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
        "prettier",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "prettier/prettier": ["error"],
        "no-console": 1,
        "no-constant-condition": ["error", { "checkLoops": false }]
    },
    "ignorePatterns": ["**/*.d.ts"]
}
