build/
*.ptau
*.log
*input.json
*proof.json
*public.json
*verification.txt
*witness.wtns
*input.json
*rotate_slots.json
*step_slots.json
**/*.r1cs
**/*.wasm
**/*.sym
test/generate_input_data.ts

.yarn/
dist/
node_modules/